<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
<!--
2016-11-19
Вкладка (section) отображается в административном интерфейсе
только при наличии внутри неё хотя бы одной группы настроек (group).
Поэтому если, например, администратор установил пакет «mage2pro/core»
только для платёжного модуля (вкладка df_payment),
то, например, вкладки df_sso («Single sign-on») у него не будет.
-->
		<section
			id='df_salesforce'
            showInDefault='1' showInStore='1' showInWebsite='1'
            translate='label'
		>
			<tab>_df</tab>
			<label>Salesforce</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Dfe_Salesforce::config</resource>
			<group
				id='general'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1'
				translate='label'
			>
				<label>General</label>
				<dfExtension>Dfe_Salesforce</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/salesforce' target='_blank'>Salesforce</a>» extension?]]></comment>
				</field>
				<field
					id='domain'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Your Salesforce domain</label>
					<comment><![CDATA[You can find it out in your browser's address bar after logging into your Salesforce application.
<br/>Please specify the <b><a href='https://en.wikipedia.org/wiki/Domain_name' target='_blank'>domain name</a> only</b>, without a protocol and path.
<br/>For example, if you see <code>https://mage2pro-dev-ed.lightning.force.com/one/one.app#/setup/home?a:t=1499557450454</code> in your browser's address bar, then your domain is <code>mage2pro-dev-ed.lightning.force.com</code>.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry df-validate-domain</validate>
				</field>
				<group
					id='oauth'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
				>
					<label>OAuth 2.0</label>
					<comment><![CDATA[Your Salesforce instance should authenticate your Magento instance by the <a href='https://oauth.net/2/' target='_blank'>OAuth 2.0</a> protocol.]]></comment>
					<field
						id='clientId'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='text'
					>
						<label>Client Identifier</label>
						<comment><![CDATA[An OAuth 2.0 «Client Identifier», as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-2.2' title='RFC 6749 specification, Section 2.2: «Client Identifier»' target='_blank'>section 2.2</a> of the RFC 6749 specification.
<br/>Salesforce <a href='https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_defining_remote_access_applications.htm#intro_defining_remote_access_applications' target='_blank' title='Defining Connected Apps - Force.com REST API Developer Guide'>names</a> this entity as «<b>Consumer Key</b>».
<br/><a href='https://mage2.pro/t/3838' title='How to register a Salesforce Connected App for integration with Magento 2?' target='_blank'>How to get it?</a>]]></comment>
						<depends>
							<field id='enable'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						id='clientPassword'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='obscure'
					>
						<label>Client Password</label>
						<comment><![CDATA[The OAuth 2.0 «Client Password» for the «Client Identifier» above, as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-2.3.1' title='RFC 6749 specification, Section 2.3.1: «Client Password»' target='_blank'>section 2.3.1</a> of the RFC 6749 specification.
<br/>Salesforce <a href='https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_defining_remote_access_applications.htm#intro_defining_remote_access_applications' target='_blank' title='Defining Connected Apps - Force.com REST API Developer Guide'>names</a> this entity as «<b>Consumer Secret</b>».
<br/><a href='https://mage2.pro/t/3838' title='How to register a Salesforce Connected App for integration with Magento 2?' target='_blank'>How to get it?</a>]]></comment>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<depends>
							<field id='enable'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						dfWebhook_backend='true'
						dfWebhook_suffix='oauth'
						id='redirectionEndpoint'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='Df\Sso\FE\CustomerReturn'
					>
						<label>Redirection Endpoint</label>
						<comment><![CDATA[The OAuth 2.0 «Redirection Endpoint», as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-3.1.2' title='RFC 6749 specification, Section 3.1.2: «Redirection Endpoint»' target='_blank'>section 3.1.2</a> of the RFC 6749 specification.
<br/>Salesforce <a href='https://developer.salesforce.com/docs/atlas.en-us.api_rest.meta/api_rest/intro_defining_remote_access_applications.htm#intro_defining_remote_access_applications' target='_blank' title='Defining Connected Apps - Force.com REST API Developer Guide'>names</a> this entity as «<b>Callback URL</b>».
<br/>Set it in your Salesforce <a href='https://mage2.pro/t/3838' title='How to register a Salesforce Connected App for integration with Magento 2?' target='_blank'>app registration form</a> (Step 4).]]></comment>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='authenticate'
						showInDefault='1' showInWebsite='1' showInStore='1'
						sortOrder='4'
						type='Dfe\Salesforce\Button'
					>
<!-- 2017-06-29
«How to implement a dynamically generated comment for a backend configuration field?»
https://mage2.pro/t/4076 -->
						<comment model='Dfe\Salesforce\Button'/>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>