<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
<!--
2016-11-19
Вкладка (section) отображается в административном интерфейсе
только при наличии внутри неё хотя бы одной группы настроек (group).
Поэтому если, например, администратор установил пакет «mage2pro/core»
только для платёжного модуля (вкладка df_payment),
то, например, вкладки df_sso («Single sign-on») у него не будет.
-->
		<section
			id='df_salesforce'
            showInDefault='1' showInStore='1' showInWebsite='1'
            translate='label'
		>
			<tab>_df</tab>
			<label>Salesforce</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Dfe_Salesforce::config</resource>
			<group
				id='general'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1'
				translate='label'
			>
				<label>General</label>
				<dfExtension>Dfe_Salesforce</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/salesforce' target='_blank'>Salesforce</a>» extension?]]></comment>
				</field>
				<field
					id='domain'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Your Salesforce domain</label>
					<comment><![CDATA[You can find it out in your browser's address bar after logging into your Salesforce application.
<br/>Please specify the <b><a href='https://en.wikipedia.org/wiki/Domain_name' target='_blank'>domain name</a> only</b>, without a protocol and path.
<br/>For example, if you see <code>https://mage2pro-dev-ed.lightning.force.com/one/one.app#/setup/home?a:t=1499557450454</code> in your browser's address bar, then your domain is <code>mage2pro-dev-ed.lightning.force.com</code>.]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
	</system>
</config>